<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">




    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br>
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <br>
    <br>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <br>
    <br>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
    <br>
    <br>
    <label for="department">Department</label>
    <input type="text" th:field="*{department}" id="department" placeholder="Department">
    <br>
    <br>
    <form th:action="@{/}">
        <input type="submit" value="Create user">
    </form>
</form>

</body>
</html>